* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    background-color: #c3d4e980;
}

.bg-white {
    background-color: white;
}

.container {
    margin: auto;
    width: 90%;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.py-1 {
    padding-top: 1%;
    padding-bottom: 1%;
}

.img-fluid {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.text-white {
    color: white;
}

.dark-blue-bg {
    background-color: #3563E9;
}

.light-blue-bg {
    background-color: #54A6FF;
}

nav img {
    max-height: 4rem;
    object-fit: cover;
}

#seachbar {
    border: 0.5px solid #c3d4e980;
    border-radius: 1.6rem;
    padding: 1.5% 0;
}

.form-input {
    border: none;
    outline: none;
    width: 85%;
}

ul {
    /* list-style-position: inside; */
    list-style-type: none;
}

.justify-end {
    justify-content: flex-end;
}

.nav-item {
    border: 1px solid #c3d4e980;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.nav-menu {
    width: 60%;
}

#hero div {
    padding: 1%;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

#hero .content {
    top: 10%;
    left: 5%;
    line-height: 1.7;
}

#hero .content h3 {
    font-size: 1.5rem;
}

#hero .content p {
    font-size: 1.1rem;
}

#hero .content a {
    display: inline-block;
    padding: 2% 10%;
    margin-top: 2%;
    border-radius: .4rem;
}